body{
    background-color: #ffffff;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background:
    linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
 url("apartments-photography.jpeg");
    max-width: 100%;
    height: 690px;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
}

.logo{
    padding: 50px 50px 0px 50px;
    font-size: 50px;
    color: #73288C;
    display: flex;
    align-items: flex-start;

}

.logo_minor_text{
    font-size: 20px;
    padding-left: 250px;
    color: #73288C;
}

.logo img{
    margin-right: 20px;
}

header h1{
    color: #ffffff;
    padding: 30px 50px 20px 50px;
    font-size: 50px;
}

.hours_1{
    padding: 20px 50px 0px 50px;
    font-size: 25px;
    color: #ffffff;
}

.hours_2{
    padding: 10px 50px 50px 50px;
    font-size: 25px;
    color: #73288C;
}

.right_container{
    background-color: #dbdbdb;
    opacity: 0.5;
    padding: 20px 20px;
    margin: 200px 10px 0px 200px;
}

#form{
    font-size: 20px;
    font-weight: 500;
}

.grey_container{
    padding: 30px 250px 30px 250px;
    background-color: #dbdbdb;
    text-align: center;
    font-size: 25px;
}

.round_images{
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.round_photos_container img{
    border-radius: 50%;
    width: 200px;
}

.round_photos_container{
    text-align: center;
    padding: 0 50px;
}

.location_section{
    background-color: #333232;
    color: #ede8e8;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
}

.adress_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo_icon{
    padding-right: 20px;
}

.about_adress_box{
    width: 50%
}

h1{
    color: #73288C;
    font-size: 40px;
}

p{
    font-size: 16px;
    }

.room_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
}

.square_photo{
    padding-left: 250px;
    padding-right: 100px;
}

.square_text{
    font-size: 40px;
    padding-left: 50px;
    padding-right: 200px;
    font-weight: 700;
}

.square_photo_2{
    padding-left: 50px;
    padding-right: 100px;
}

.square_text_2{
    font-size: 40px;
    padding-left: 300px;
    padding-right: 50px;
    font-weight: 700;
}

.list_title{
    color: #000000;
}

li{
    font-size: 20px;
    font-weight: 300;
}

.question_section{
    background-color: #333232;
    color: #ede8e8;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 120px;
}

#question{
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}

#button_1{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border: none;
    border-radius: 35px;
    background-color: #73288C;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 10px;
    cursor: pointer;
}

button:hover{
    background-color: #cd9bde;
    color: #2b292b;
}

